@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome!!! to AWS Deployment - DevOps Traceability Team</h1>

<p id="Date"></p>

<script>
var d = new Date();
document.getElementById("Date").innerHTML = d;
</script>
